<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
  <%- include("../menu"); %>
  <%- include("../footer"); %>
  <!-- Material input -->
<div class="md-form">
  <input type="text" id="director" class="form-control" value="<%= result.director %>" readonly />
  <label for="director">Director</label>
</div>

<div class="md-form">
  <input type="text" id="title" class="form-control" value="<%= result.title %>" readonly />
  <label for="title">Title</label>
</div>

<div class="md-form">
  <input type="text" id="year" class="form-control" value="<%= result.year %>" readonly />
  <label for="year">Year</label>
</div>

<div class="md-form">
  <input type="text" id="created" class="form-control" value="<%= result.created %>" readonly />
  <label for="created">Created</label>
</div>

<button type="button" class="btn btn-cyan btn-md"
          onclick="location.href='/api/movie/'"
          >Back</button>

<button type="button" class="btn btn-dark-green btn-md"
          onclick="location.href='/api/movie/<%= result._id %>/edit'"
          >Modify</button>

<button type="button" class="btn btn-danger btn-md" id="deleteBtn"
          >Delete</button>

<script>
  $(function () {
    // deleteBtn Click Event Handling
    $("#deleteBtn").on("click", () => {
      const result = confirm("삭제할건가요?");
      if (result) {
        $.ajax({
          url: "/api/movie/<%= result._id %>",
          type: "DELETE"
        }).done(() => {
          alert("삭제되었습니다.");
          location.href = "/api/movie";
        }).fail((request, status, error) => {
          alert(request.responseText);
        });
      }
    });
  });
</script>
</body>
</html>